footer {
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.filter {
  display: flex;
}
.reset {
  margin-left: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.reset img {
  width: 20px;
  margin-left: 5px;
}